body {
    background: #8138c9;
    background: radial-gradient(circle,rgba(129, 56, 201, 1) 0%, rgba(94, 30, 158, 1) 25%, rgba(83, 25, 142, 1) 85%, rgba(54, 9, 99, 1) 100%);
    color: white;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

.fade-out {
  animation: fadeOut 0.5s forwards; /* forwards keeps opacity=0 after anim */
}

.hidden {
  display: none; /* optional: removes from layout after fade */
}

#content {
    min-height: 95vh;
    padding: 0 5% 0 5%;
}

#logo {
    margin-top: 30px;
    text-align: center;
    height: 100px;
}

#skip-btn {
    text-decoration: none;
    margin-top: -10px;
    padding: 10px 15px;
    display: inline-block;
    color: white;
    font-size: 22px;
    font-family: "Noto Sans", sans-serif;
    text-shadow: 3px 3px 10px #32343a;
    transition: 0.2s;
}

#skip-btn:hover {
    color: #4a90e2;
    transform: scale(1.2);
    transform: translate(0px, -5px);
    transition: 0.2s;
}

#prescreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}

.shaking-animation {
  animation-name: shakingAnimation;
  animation-duration: 2.3s;
}

@keyframes shakingAnimation {
  0%   { transform: scale(1.25) rotate(0deg); }
  12.5%  { transform: scale(1.25) rotate(-20deg); }
  25%  { transform: scale(1.25) rotate(20deg); }
  37.5%  { transform: scale(1.25) rotate(-20deg); }
  50%  { transform: scale(1.25) rotate(20deg); }
  62.5%  { transform: scale(1.25) rotate(-20deg); }
  75%  { transform: scale(1.25) rotate(20deg); }
  100% { transform: scale(1.25) rotate(0deg); } 
}

.shaking-animation-p2 {
  animation-name: shakingAnimationP2;
  animation-duration: 2.3s;
}

@keyframes shakingAnimationP2 {
  0%   { transform: scale(1.25) scaleX(-1) rotate(0deg); }
  12.5%  { transform: scale(1.25) scaleX(-1) rotate(-20deg); }
  25%  { transform: scale(1.25) scaleX(-1) rotate(20deg); }
  37.5%  { transform: scale(1.25) scaleX(-1) rotate(-20deg); }
  50%  { transform: scale(1.25) scaleX(-1) rotate(20deg); }
  62.5%  { transform: scale(1.25) scaleX(-1) rotate(-20deg); }
  75%  { transform: scale(1.25) scaleX(-1) rotate(20deg); }
  100% { transform: scale(1.25) scaleX(-1) rotate(0deg); } 
}

input[type="text"] {
  width: 250px;
  padding: 8px 12px;
  font-size: 16px;
  border: 3px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* When focused (clicked into) */
input[type="text"]:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

#gameboard-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#gameboard-middle {
    display: grid;
    grid-area: 1/1/2/2;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#gameboard-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#gameboard-bottom button {
    font-family: "Noto Sans", sans-serif;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#nextround {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tie-slot {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p1-buttons button {
    margin: 2px;
    border-radius: 10px;
    padding: 22px 10px 22px 10px;
    border: 2px solid black;
    transition: 0.2s;
}
 
#p1-buttons button:hover:not(.active) {
  border-radius: 10px;
	 --border-angle: 0turn;
	 --main-bg: conic-gradient(from var(--border-angle), #213, #112 5%, #112 60%, #213 95%);
	 border: solid 5px transparent;
	 --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
	 background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
	 background-position: center center;
	 animation: bg-spin 3s linear infinite;
   z-index: 2;
   transition: 0.2s;
  transform: translate(0px, -10px);
}

#p1-buttons button.active {
    /* border: 2px solid rgb(102, 203, 253); */
	 --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle), rgb(125, 12, 237), rgb(76, 76, 169) 5%, rgb(37, 37, 194) 30%, rgb(155, 79, 230) 95%);
	 border: solid 5px transparent;
	 --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
	 background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
	 background-position: center center;
	 animation: bg-spin 3s linear infinite;
   z-index: 2;
  transition: 0.2s;
}

#p2-buttons button {
    margin: 2px;
    border-radius: 10px;
    padding: 22px 41px 22px 41px;
    border: 2px solid black;
    cursor: default;
}

#p2-buttons button.active {
	 --border-angle: 0turn;
	--main-bg: conic-gradient(from var(--border-angle), rgb(125, 12, 237), rgb(76, 76, 169) 5%, rgb(37, 37, 194) 30%, rgb(155, 79, 230) 95%);
	 border: solid 5px transparent;
	 --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
	 background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
	 background-position: center center;
	 animation: bg-spin 3s linear infinite;
   z-index: 2;
  transition: 0.2s;
      /* border: 2px solid rgb(102, 203, 253); */
}

#p2-wins {
    text-align: center;
}

#p2side svg {
  left: 10%;
  top: 30px;
  position: relative;
}

.dot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 26px;
    width: 26px;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
}

.scale-up {
  animation: scaleUp 1s forwards;
}

@keyframes scaleUp {
  0% {transform: scale(1);}
  100% {transform: scale(1.5);}
}

.scale-up-p2 {
  animation: scaleUpP2 1s forwards;
}

@keyframes scaleUpP2 {
  0% {transform: scaleX(-1) scale(1);}
  100% {transform: scaleX(-1) scale(1.5);}
}

.winorloss-dot {
  visibility: hidden;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.win-dot {
    background-color: rgb(255, 255, 0);
    background: linear-gradient(22deg, rgba(180, 140, 0, 1) 0%, rgba(255, 255, 120, 1) 100%);
}

.loss-dot {
    background-color: rgb(87, 87, 87);
    background: linear-gradient(22deg, rgb(6 6 6) 0%, rgb(146 146 146) 100%);
}

#gameboard-top h1 {
    text-align: center;
    filter: drop-shadow(0 0 0.75rem black);
}

#played-hand {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: grid; /* getting it centered raaa*/
    place-items: center; /* getting it centered raaa*/
}

#played-hand img {
    position: absolute;
    text-align: center;
}

#played-hand-p2 {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: grid; /* getting it centered raaa*/
    place-items: center; /* getting it centered raaa*/
}

#chatbox-wrapper {
 position: relative; 
}

#chatbox {
    height: 80px;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 0;
}

#chatbox-wrapper svg {
  position: relative;
  text-align: center;
  height: 30px;
  width: 30px;
  top: -2px;
  left: 0;
  z-index: 1; /* higher than the image */
}

#chatbox-wrapper h1 {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 15px;
  background: #005AFF;
  filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5));
}

button:disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

.gameui-btn {
  width: 40%;
  transition: all 20ms;
  margin: 30px auto;
  text-align: center;
  padding: 0;
  padding-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 3px 4px;
  border: 0;
  color: #32343a;
  cursor: pointer;
  /* background-image: linear-gradient(to right, #36a543, #25854b, #36a543); */
  transition: 0.2s;
}

.green-btn {
  background-image: linear-gradient(to right, #36a543, #25854b, #36a543);
}

.yellow-btn {
  visibility: hidden;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 20%;
  transform: translateX(-50%);
  background-image: linear-gradient(to right, #cf5179, #ad2e53, #cf5179);
}

.gameui-btn:disabled {
  color: #32343a;
  background-image: linear-gradient(to right, #97989c, #65666b, #97989c);
}

.gameui-btn:disabled div {
  background-image: radial-gradient(100% 120% at 50% 100%, #e0e2d5 50%, #fffdf1);
  color: #aaaaaa;
}

button.gameui-btn div {
  border: none;
  border-radius: 20px;
  padding: 2% 0%;
  font-weight: 900;
  font-size: 3rem;
  /* background-image: radial-gradient(100% 120% at 50% 100%, #6dd91a 50%, #c9f117); */
}

button.green-btn div {
  background-image: radial-gradient(100% 120% at 50% 100%, #6dd91a 50%, #c9f117);
  color: white;
}

button.yellow-btn div {
  background-image: linear-gradient(to right, #ffdd00, #fbb034, #ffdd00);
  color: rgba(0,0,0, 0.8);
}

button.gameui-btn:active {
  padding-bottom: 5px;
  margin-top: 35px;
}

.dots::after {
  content: '';
  display: inline-block;
  width: 1ch;
  animation: dots 1.2s steps(4, end) infinite;
}

@keyframes dots {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

/* for the looking for opponent dots */
    .loader-container {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;
      margin-top: 20%;
    }
    .loader-container svg {
      position: relative;
      width: 165px;
      height: 60px;
      overflow: visible;
      margin-top: 2%;
      filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5));
    }

@keyframes colorCycle {
  0%   { color: #d6a9ff; } /* light purple */
  33%  { color: #e4c3ff; } /* even lighter purple */
  66%  { color: #f0d9ff; } /* very pale purple */
  100% { color: #d6a9ff; } /* back to start */
}

.animated-text {
  font-size: 90px;
  font-family: "Noto Sans", sans-serif;
  filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5));
  animation: colorCycle 1.6s infinite;
}

#thinking svg {
  margin-top: -32px;
}

/* for the timer */
#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
}

.base-timer {
  position: relative;
  width: 200px;
  height: 200px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}
/* end of stuff for the timer */

/* arrow-guide */
.arrow-guide {
  /* position: absolute; */
  z-index: -1;
  top: -3em;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 1em;
  cursor: default;
  transition: opacity .3s;
}
@media (min-height: 480px) {
  .arrow-guide {
    top: 0;
  }
}

.arrow-guide__inside {
  position: relative;
  height: 100%;
  text-align: center;
  font-size: .75em;
  color: #600;
  perspective: 700px;
}
@media (min-width: 768px) and (min-height: 768px) {
  .arrow-guide__inside {
    font-size: 1.25em;
  }
}

.arrow-guide__arrow {
  position: absolute;
  z-index: -1;
  font-size: 3em;
  top: 50%;
  left: 50%;
  background-color: #ef4723;
  width: 2em;
  height: 1.1em;
  margin-left: -1em;
  animation: arrow 1.5s ease-in-out infinite;
  transform: rotateX(-25deg) rotateY(0deg) translate3d(0, 0.35em, 0);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  backface-visibility: hidden;
}
.arrow-guide__arrow::before {
  display: block;
  content: '';
  position: absolute;
  top: -0.495em;
  left: 0;
  height: 0.5em;
  width: 100%;
  background-color: #f2877d;
  transform: rotateX(90deg) rotateY(0deg);
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
}
@media (min-height: 768px) {
  .arrow-guide__arrow {
    margin-top: -0.65em;
  }
}

.arrow-guide__line {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1rem;
  background: #ef4723;
}

.arrow-guide__point {
  content: '';
  position: absolute;
  z-index: -2;
  width: 0;
  height: 0;
  border: 1.5em solid transparent;
  border-top: 1em solid #ef4723;
  border-bottom: 0;
  bottom: -0.99em;
  left: -0.5em;
}
.arrow-guide__point::before {
  display: block;
  content: '';
  position: absolute;
  top: -1.495em;
  left: -1.5em;
  height: 0.5em;
  width: 3em;
  background-color: #f2877d;
  transform: rotateX(90deg) rotateY(0deg);
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
}

@media (min-width: 768px) and (min-height: 768px) {
  .arrow-guide__text {
    margin-top: 1.5em;
    font-size: 0.25em;
    line-height: 1.2em;
  }
  .arrow-guide__text::before {
    content: attr(data-click-text);
  }
}

/* animation */
@keyframes arrow {
  0% {
    transform: rotateX(-20deg) rotateY(0deg) translate3d(0, -0.1em, 0);
  }
  35% {
    transform: rotateX(-25deg) rotateY(0deg) translate3d(0, 0.35em, 0);
  }
  100% {
    transform: rotateX(-20deg) rotateY(0deg) translate3d(0, -0.1em, 0);
  }
}

/* green check mark */

.approve_icon {
  position: relative;
  top: 50%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0 auto;
  box-shadow: inset 0px 0px 0px #80d100;
  animation: fill 0.4s ease-in-out 0.4s forwards,
             scale 0.3s ease-in-out 0.9s both;
  margin-top: -100px;
}

.approve_icon_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #80d100;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.approve_icon_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #80d100;
  }
}

/* ready animation  */

.demo {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 100px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  transform: translateX(-50%) scale(0.75);
  animation: vanish 0.5s linear 1 forwards;
  animation-delay: 3.4s;
}

.demo__colored-blocks {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  padding: 10px;
  border-radius: 20px;
  perspective: 1000px;
  animation: demoAnim 4s ease-in-out 1 forwards, contAnim 4s 1 forwards;
}

.demo__colored-blocks-rotater {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  animation: rotation 1.3s linear infinite;
}

.demo__colored-blocks-inner {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #32386D;
  border-radius: inherit;
}

.demo__colored-block {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  transform-origin: 0 0;
}

/* unrolled loop: 3 blocks */
.demo__colored-block:nth-child(1) {
  transform: rotate(0deg) skewX(30deg);
  background-color: #FD3359; /* red */
}
.demo__colored-block:nth-child(2) {
  transform: rotate(120deg) skewX(30deg);
  background-color: #F4D302; /* yellow */
}
.demo__colored-block:nth-child(3) {
  transform: rotate(240deg) skewX(30deg);
  background-color: #21BDFF; /* blue */
}

.demo__inner {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.demo__numbers {
  box-sizing: border-box;
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}

.demo__numbers-path {
  box-sizing: border-box;
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 475.415; /* total length */
  stroke-dashoffset: 0;
  animation: numAnim 4s ease-in-out 1 forwards;
  opacity: 0;
}

.demo__text {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  text-align: center;
  line-height: 93px;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  transform: translateX(10px) scale(0.8);
  animation: hideText 4s 1 forwards;
}

 @keyframes contAnim {
	 15%, 100% {
		 margin-left: -250px;
		 width: 500px;
	}
	 25%, 90% {
		 margin-left: -70px;
		 width: 140px;
	}
}
 @keyframes numAnim {
	 15% {
		 stroke-dasharray: 0, 518.055065155;
		 stroke-dashoffset: 0;
		 opacity: 0;
	}
	 25%, 41% {
		 opacity: 1;
		 stroke-dasharray: 144.4256591797, 518.055065155;
		 stroke-dashoffset: -40;
	}
	 53%, 66% {
		 stroke-dasharray: 136.0216217041, 518.055065155;
		 stroke-dashoffset: -227.238697052;
	}
	 76% {
		 stroke-dasharray: 113.4751205444, 518.055065155;
		 stroke-dashoffset: -445.8995704651;
	}
	 88%, 100% {
		 stroke-dasharray: 72.1554946899, 518.055065155;
		 stroke-dashoffset: -445.8995704651;
	}
	 92% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0;
	}
}
 @keyframes rotation {
	 to {
		 transform: rotate(360deg);
	}
}
 @keyframes demoAnim {
	 15% {
		 border-radius: 20px;
		 transform: rotate(0);
	}
	 30%, 43% {
		 border-radius: 50%;
		 transform: rotate(360deg);
	}
	 52%, 65% {
		 border-radius: 0;
		 transform: rotate(720deg);
	}
	 78%, 90% {
		 border-radius: 50%;
		 transform: rotate(1080deg);
	}
	 100% {
		 border-radius: 20px;
		 transform: rotate(1440deg);
	}
}

@keyframes hideText {
  0%, 15%   { opacity: 1; }
  20%, 100% { opacity: 0; }
}

@keyframes fadeOut {
  0%  { opacity: 1; }
  100% { opacity: 0; display: none;}
}

@keyframes vanish {
  0% { opacity: 1; visibility: visible; }
  100%    { opacity: 0; visibility: hidden; } /* stays hidden */
}

/* effect for the p1 and p2 buttons */

.gradient-border {
	 /* width: 60vmin;
	 height: 50vmin;
	 display: grid;
	 place-content: center; */
	 /* color: white;
	 text-shadow: 0 1px 0 #000; */
  display: inline-block;
  border-radius: 10px;
	 --border-angle: 0turn;
	 --main-bg: conic-gradient(from var(--border-angle), #213, #112 5%, #112 60%, #213 95%);
	 border: solid 5px transparent;
	 --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
	 background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
	 background-position: center center;
	 animation: bg-spin 3s linear infinite;
   z-index: 2;
   transition: 0.2s;
}
 @keyframes bg-spin {
	 to {
		 --border-angle: 1turn;
	}
}
 .gradient-border:hover {
	 animation-play-state: paused;
}
 @property --border-angle {
	 syntax: "<angle>";
	 inherits: true;
	 initial-value: 0turn;
}

/* radial stripes */

.radial_stripes { 
  position: absolute;
  visibility: hidden;
  width: 650px;
  height: 650px;
  opacity: 0.4;
  animation: rotate 60s infinite linear;
  z-index: -2;
}

.radial_stripes svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  /* perfect center */
  width: 100%;                        /* slightly larger than cell to avoid edges */
  height: auto;                       /* keep aspect ratio */
}

/* Animation keyframes */
@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* this is for winning text animation */

#winner-container {
  display: none;
  width: 100%;
  height: 200px; /* or vh below */
  top: 0%;
  position: relative;
  overflow: hidden;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}

#winner-container .text span {
  color: white !important;
  font-size: 80px !important;
}

#winner-container .text {
  z-index: 2;
  position: absolute;
}

#winner-svg {
  font-family: 'Rubik Mono One', sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.text, .offscreen-text {
  font-family: 'Rubik Mono One', sans-serif;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  margin: 0;
}

.offscreen-text {
  display: none;
  position: absolute;
  top: -9999px;    /* move it way up */
  left: 0;         /* keep left alignment */
  white-space: nowrap;
}

.text span {
  display: inline-block;
  position: relative;
  color: inherit !important; /* don’t force to white */
}